h2 {
    margin-top: 60px;
}

main * {
    width: 100%;
}

/* Main Container */
.exploreGiideList {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,auto);
    overflow: hidden;
}

.cardContainer {
    grid-column: 2/13;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 25px;
}

.cardContainerFeatured {
    margin-bottom: 60px;
}

.components_exploreGiideCard {
    margin: 0 15px 25px 0;
    box-shadow: 4px 4px 4px rgb(44 44 44 / 10%);
    border-radius: 2px;
    border: .25px solid #d3d3d3;
    cursor: pointer;
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
}

@media (max-width: 450px){
    .components_exploreGiideCardFeatured__25eDt {
        max-width: none;
        margin-bottom: 40px;
    }
}