body, p, div {
    font-family: 'Lato', sans-serif;
    font-size: 9pt;
}

body, strong {
    font-family: 'Lato', sans-serif;
}

h2 {
    margin-top: 60px;
}

main * {
    width: 100%;
}

/* Main Container */
.exploreGiideList {
    max-width: 1200px;
    margin: 0 auto;
    /* display: grid; */
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,auto);
    overflow: hidden;
}
.exploreGiideList>h2 {
    grid-column: 2/12;
    margin-bottom: 40px;
    font-size: 24pt;
    font-weight: 400;
}

.cardContainer {
    grid-column: 2/13;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 25px;
}

.cardContainerFeatured {
    margin-bottom: 60px;
}

/* Individual Card */
.components_exploreGiideCard {
    margin: 0 15px 25px 0;
    box-shadow: 4px 4px 4px rgb(44 44 44 / 10%);
    border-radius: 2px;
    border: .25px solid #d3d3d3;
    cursor: pointer;
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
}

@media (max-width: 450px) {
    .components_exploreGiideCardFeatured__25eDt {
        max-width: none;
        margin-bottom: 40px;
    }
}

.components_giideCardThumbnailContainer {
    object-fit: contain;
    height: 170px;
    overflow: hidden;
    display: flex;
}

.components_giideCardContent {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    width: auto;
    font-size: 10pt;
}

.components_giideCardContent>img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    align-self: center;
    margin-right: 15px;
}

.components_giideCardContent>div {
    display: flex;
    flex-direction: column;
}

.components_GiideCardContent>div>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.components_giideCardTopRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}

.components_giideCardTitle {
    font-weight: 500;
    margin-right: 50px;
}

.components_giideCardAuthor {
    font-size: 8pt!important;
    font-family: "Montserrat"!important;
}
